<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Hayley App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>923439451F0007CC00F0F603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>923439591F0007CC00F0F603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>923439641F0007CC00F0F603</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
